{#include base.html}
{#title}My Todos{/title}
{#contents}

<div class="container mt-3">
  <div class="row">
    <div class="col-sm">
      {#include todo-form.html}{/include}
    </div>
    <div class="col-sm">
      <form action="/todo" method="GET" name="search" class="form-inline float-sm-right">
          <label class="sr-only" for="filter">Search</label>

          <div class="input-group mr-2">
            <input class="form-control py-2" type="search" name="filter" id="filter" placeholder="Search By Title" required {#if filtered}value="{filter}"{/if}>
            <span class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <a class="btn btn-secondary {#if !filtered}disabled{/if}" href="/todo" role="button">Clear</a>
      </form>
    </div>
  </div>
</div>

<div class="container mt-2">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="fit">Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th scope="col">Title</th>
      <th scope="col" class="fit">Priority</th>
      <th scope="col" class="fit">Completed</th>
      <th scope="col" class="fit">Actions</th>
    </tr>
  </thead>

  {#if todos.size == 0}
  <tr>
    <td colspan="5">No data found.</td>
  </tr>
  {#else}

  {#for todo in todos}
  <tr>
    <th scope="row">#{todo.id}</th>
    <td {#if todo.completed}class="completed"{/if}>
      {todo.title}
    </td>
    <td {#if todo.completed}class="completed"{/if}>
      {todo.priority}
    </td>
    <td>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" disabled id="completed-{todo.id}" {#if todo.completed}checked{/if}>
        <label class="custom-control-label" for="completed-{todo.id}"></label>
      </div>
    </td>
    <td class="fit">
      <form action="/todo/{todo.id}/delete" method="POST" name="delete-{todo.id}">
        <a class="btn btn-primary btn-sm" href="/todo/{todo.id}/edit" role="button">Edit</a>
        <input class="btn btn-danger btn-sm" value="Delete" type="submit">
      </form>
    </td>
  </tr>
  {/for}
  {/if}
</table>
<p class="pl-2">{todos.size} out of {totalCount}</p>
</div>

{/contents}
{/include}
